
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont;
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}



header{
    display: flex;
    flex-direction: column;
    background-color: #152237;
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.klivio-logo{
    height: 31px;
    width: 84px;
}

nav a{
    font-size: 15px;
    color: #FFFF;
}

.button{
    height: 40px;
    width: 130px;
    border: solid #152237 1px;
    border-radius: 6px;
}

.inscription-button{
    background-image: 
        linear-gradient(
            to right,
            rgba(68, 221, 138, 1),
            rgba(21, 183, 226, 1)
        );
}



.hero{
    display: flex;
    flex-direction: column;
    height: 450px;
    max-width: 100%;
    background-image: 
        linear-gradient(
            to right,
            rgba(68, 221, 138, 0.8),
            rgba(21, 183, 226, 0.8)
        ),
        url(/klivio/image-bank/bg-header.png);
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-weight: 800;
    font-size: 48px;
    color: #152237;
}

.hero p {
    font-size: 20px;
    color: black;
}

.hero a {
    width: 130px;
    height: 40px;
    background-color: #FFFF;
    border: solid #152237 1px;
    border-radius: 6px;
    font-size: 15px;
    color: #152237;
}



.formation-section{
    height: 632px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#section-formations-populaires{
    background-color: #FFFF;
}

#formations-pop{
    font-size: 36px;
    color: #152237;
    font-weight: 800;
}

.cards-container{
    display: flex;
    justify-content: space-evenly;
}

.formation-card{
    width: 307px;
    height: 362px;
}

.h3-pop{
    font-size: 24px;
    color: #152237;
}

.paragraphe-pop{
    color: #152237;
    font-size: 16px;
}

#see-more-pop{
    width: 225px;
    height: 40px;
    background-color: #152237;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 15px;
}



#section-formations-recentes{
    background-color: #152237;
}

#formations-recentes{
    font-size: 36px;
    color: white;
    font-weight: 800;
}

.h3-recent{
    font-size: 24px;
    color: white;
}

.paragraphe-recent{
    font-size: 16px;
    color: white;
}

#see-more-recent{
    width: 225px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    color: #152237;
    font-size: 15px;
}


.section-review{
    height: 597px;
    max-width: 100%;
}

.avantage-container{
    height:641px;
    max-width: 100%;
}

.creation-container{
    height: 641px;
    max-width: 100%;
}

.propos-container{
    height: 740px;
    max-width: 100%;
}

.form{
    height: 585px;
    max-width: 100%;
    background-color: white;
}

footer{
    height: 489px;
    max-width: 100%;
    background-color: #152237;
}