
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont;
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}



header{
    display: flex;
    flex-direction: column;
    background-color: #152237;
    height: 80px;
    max-width: 100%;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #152237;
}

.klivio-logo{
    height: 31px;
    width: 84px;
}

nav a{
    font-size: 15px;
    font-weight: 500;
    color: #FFFF;
    margin-left: 168px;
}

nav form{
    border: solid #152237 1px;
    background-color: #152237;
}

.searchbar{
    display: flex;
    align-items: center;
    width: 477px;
    height: 40px;
    background-color: #152237;
    border: solid white 1px;
    border-radius: 6px;
    margin-left: 143px;
    margin-right: 220px;
}

.searchbar input[type="search"] {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    padding: 11px;
}

.searchbar input::placeholder {
    color: white;
}

#magnifying-searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 11px;
}

.searchbar button {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    height: 40px;
    width: 130px;
    border: solid #152237 1px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inscription-button{
    margin-right: 101px;
    background-image: 
        linear-gradient(
            to right,
            rgba(68, 221, 138, 1),
            rgba(21, 183, 226, 1)
        );
}



.hero{
    display: flex;
    flex-direction: column;
    height: 450px;
    max-width: 100%;
    background-image: 
        linear-gradient(
            to right,
            rgba(68, 221, 138, 0.8),
            rgba(21, 183, 226, 0.8)
        ),
        url(/klivio/image-bank/bg-header.png);
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-weight: 700;
    font-size: 48px;
    color: #152237;
    margin-bottom: 2px;
}

.hero p {
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin-top: 2px;
    margin-bottom: 22px;
}

.hero a {
    display: flex;
    width: 130px;
    height: 40px;
    background-color: #FFFF;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    color: #152237;
    justify-content: center;
    align-items: center;
}



.formation-section{
    height: 632px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#section-formations-populaires{
    background-color: #FFFF;
}

#formations-pop{
    font-size: 36px;
    color: #152237;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-left: 97px;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.formation-card{
    width: 307px;
    height: 362px;
}

.card-price-pop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152237;
    width: 120px;
    height: 31.58px;
    border-radius: 93px;
    position: relative;
    bottom: 20px;
    left: 174px;
}

.new-price-pop{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 7px;
}

.old-price-pop{
    font-size: 10px;
    color: white;
    text-decoration: line-through;
}

.h3-pop{
    font-size: 24px;
    font-weight: 700;
    color: #152237;
}

.paragraphe-pop{
    color: #152237;
    font-size: 16px;
    font-weight: 400;
    margin-top: 11px;
    margin-bottom: 10.8px;
    max-width: 306px;
}

#see-more-pop{
    display: flex;
    width: 225px;
    height: 40px;
    background-color: #152237;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    margin-bottom: 51px;
    margin: auto;
}



#section-formations-recentes{
    background-color: #152237;
}

#formations-recentes{
    font-size: 36px;
    color: white;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-left: 97px;
}

.card-price-recentes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 120px;
    height: 31.58px;
    border-radius: 93px;
    position: relative;
    bottom: 20px;
    left: 174px;
}

.new-price-recentes{
    font-size: 20px;
    font-weight: bold;
    color: #152237;
    margin-right: 7px;
}

.old-price-recentes{
    font-size: 10px;
    color: #152237;
    text-decoration: line-through;
}

.h3-recent{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.paragraphe-recent{
    font-size: 16px;
    color: white;
      margin-top: 11px;
    margin-bottom: 10.8px;
    max-width: 306px;
}

#see-more-recent{
    display: flex;
    width: 225px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    color: #152237;
    font-size: 15px;
    margin-top: 43px;
    margin: auto;
}


.section-review{
    display: flex;
    flex-direction: column;
    height: 597px;
    max-width: 100%;
}

#client-review{
    font-size: 40px;
    color: #152237;
    font-weight: 900;
    margin: 58px auto 66px;
}

.review-container{
   display: flex;
   margin: 0 150px;
   justify-content: center;
}

.review-container p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1.5%;
    line-height: 30px;
}

.review-container img{
    margin: 13.8px 0 13.8px 0;
}

#review-juliette{
    margin-right: 12px;
    max-width: 689px;
    max-height: 306px;
}

#review-juliette p {
    max-width: 686px;
    max-height: 90px;
}

#review-camille{
    margin-left: 12px;
    max-width: 665px;
    max-height: 306px;
}

#review-camille p {
    max-width: 656px;
    max-height: 90px;
}

.round-picture{
    border-radius: 50%;
}

.avantages-container{
    display: flex;
    height:641px;
    max-width: 100%;
    background-color: #F5F5F5;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.avantages-container-gauche h2,
.creation-container-droite h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 43px;
    line-height: 36px;
    letter-spacing: -1.5%;
}

.item{
    display: flex;
    padding: 1%;
}

.item img{
    padding: 1%;
}

.item h3{
    font-size: 24px;
    font-weight: 400;
    max-width: 616px;
}

.creation-container{
    display: flex;
    height: 641px;
    max-width: 100%;
    background-color: #44DD8A;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.propos-container{
    display: flex;
    height: 740px;
    max-width: 100%;
}

.propos-container-gauche{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}

.propos-title{
    font-size: 40px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: -1.5%;
    margin-bottom: 40px;
    margin-left: 103px;
}

.propos-paragraph{

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1.5%;
    margin-left: 103px;
    margin-right: 61px;
}

.propos-container-droite{
    display: flex;
    background-color: #152237;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    height: 663px;
    max-width: 100%;
    background-color: white;
    align-items: center;
}

.form h2{
    font-size: 40px;
    font-weight: 900;
    margin-top: 60px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 172px;
}

.contact hr{
    width: 350px;
    margin-top: 39px;
    background-color: #44DD8A;
}

.data{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 55.75px;
}

.data input[type="last-name"] {
    width: 599px;
    height: 45.25px;
    background-color: #152237;
    margin-right: 115.94px;
    padding-left: 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.5px;

}

.data input[type="email"]{
    width: 598.75px;
    height:45.3px;
    background-color: #152237;
    padding-left: 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.5px;
}

.data input::placeholder{
    color: white;
}

.contact textarea{
    width: 1335.92px;
    height: 194.64px;
    background-color: #152237;
    margin-bottom: 54.64px;
    padding-left: 18px;
    padding-top: 15.44px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.5px;
}

.contact textarea::placeholder{
    color: white;
}

#button-contact{
    margin-bottom: 77.42px;
    width: 351.56px;
    height: 45.3px;
    background-color: #44DD8A;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -1.5%;
    color: #152237;
    cursor: pointer;
}

#gradient-section{
    max-width:100%;
    height: 18px;
    background-image:
    linear-gradient(
            to right,
            rgba(68, 221, 138, 1),
            rgba(24, 160, 251, 1)
        );
}

footer{
    height: 489px;
    max-width: 100%;
    background-color: #152237;
}

.footer-upper{
    display: flex;
    justify-content: space-evenly;
}

#logo-footer{
    width: 243px;
    height: 87px;
    margin-top: 109px;
    margin-bottom: 96px;
}

.footer-upper-data{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.footer-upper-data h2{
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.footer-upper-data h3{
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.flex-row{
    display: flex;
    flex-direction: row
}

.flex-row img{
    width: 24px;
    height: 24px;
}

.flex-row h3{
    color: white;
}

.footer-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.connexion-button-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
}

.inscription-button-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-image: 
        linear-gradient(
            to right,
            rgba(68, 221, 138, 1),
            rgba(21, 183, 226, 1)
        );
        cursor: pointer;
}

.section-hr-footer{
    display: flex;
    justify-content: center;
}

#hr-footer{
    width: 1482px;
    height: 2px;
    background-color: #44DD8A;
        margin-top: 28px;
    margin-bottom: 25px;
}

.footer-lower{
    display: flex;
    justify-content: space-between;
}

#klivio-copyright{
    margin-left: 96px;
}

.footer-lower h2{
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.5%;
}

#social-network{
    display: flex;
    justify-content: space-evenly;
    width: 297px;
    height: 30px;
    margin-right: 102px;
}